# Distribution / packaging
__pycache__
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
.serverless

.requirements-cache
node_modules
output/*

# Graph image
graph.png

/.venv
/.idea

# Terraform
.terraform
.terragrunt-cache
*.tfstate*
.terraform.lock.hcl
crash.log

# OS X
.history
.DS_Store

# IntelliJ
.idea_modules
*.iml
*.iws
*.ipr
.idea/
build/
*/build/
out/

# Lambda builds by Terraform AWS Lambda module
builds/

# Vim
*.sw[op]
