repos:
- repo: git://github.com/doublify/pre-commit-isort
  rev: v4.3.0
  hooks:
    - id: isort
- repo: git://github.com/pre-commit/pre-commit-hooks
  rev: v1.4.0
  hooks:
    - id: check-merge-conflict
    - id: requirements-txt-fixer
    - id: end-of-file-fixer
    - id: flake8
